﻿@page "/"
@page "/AdminDashboard"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject ToastService toastService

<div class="d-flex justify-content-center my-5">
    @if(Dashboard != null){<h1>
        @Dashboard.DashboardTitle
        </h1>
    }
@*<button class="btn btn-warning" @onclick="@(() => toastService.ShowToast("I'm a WARNING message", ToastLevel.Warning))">Warning Toast</button>*@
    <a href="/ManageDashboard" class="btn btn-link">Edit</a>
</div>
<div class="text-center">

    @if (Dashboard != null && Dashboard.ReportGroups != null && Dashboard.ReportGroups.Count() > 0)
    {
        foreach (var reportGroup in Dashboard.ReportGroups)
        {
            <div class="report-group p-3 my-3">
                <h2 class="report-header my-3">
                    @reportGroup.GeneralHeader
                </h2>
                @{
                    var className = "";
                    switch (reportGroup.ItemsOrientation)
                    {
                        case Classes.Orientation.Vertical:
                            className = "";
                            break;
                        default:
                            className = "px-5 d-flex";
                            break;
                    }
                }

                <div class="@className">

                    @foreach (Report report in reportGroup.Reports)
                    {
                        var wrapperClass = OrientationHelper.getWrapperClassName(reportGroup.ItemsOrientation, report.Index);
                        <div class="@wrapperClass">
                            @switch (report.ReportType)
                            {
                                case Classes.ReportTemplate.Grid:
                                    <Grid Report="report" />
                                    break;
                                case Classes.ReportTemplate.SummaryList:
                                    <SummaryList Report="report" />
                                    break;
                                case Classes.ReportTemplate.InfoLink:
                                    <InfoLink Report="report" />
                                    break;
                                default:
                                    break;
                            }
                        </div>

                    }
                </div>
            </div>
        }
    }
</div>
