﻿@page "/ManageDashboard"
@*@page "/"*@
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Plk.Blazor.DragDrop
@using System.Collections.ObjectModel
@using System.Collections.Specialized
<style>
    .dashboardEditable .plk-dd-dropzone {
        min-height: 100px;
        height: 100%;
    }

    [contenteditable="true"]:focus {
        outline: 1px dashed #a2a2a2;
    }
</style>

<div class="relative-parent d-flex justify-content-center my-5 mx-auto">
    <span class="size-calibration h1">@dashboard.DashboardTitle</span>
    <input type="text" value="@dashboard.DashboardTitle" class="report-header h1 autosized-input" @oninput="(ui) => { dashboard.DashboardTitle = (string) ui.Value;}" @onchange="(args) => { dashboard.DashboardTitle = args.Value.ToString();}"/>
</div>


<AlertBlock />
<div class="d-flex vh-min-100 mb-3">
    <div class="col-3 accordionContainer border">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Sections
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <Dropzone Items="@Sections" TItem="DashboardGroup" Accepts="(d, t) => false">
                            <div>
                                @context.GeneralHeader
                            </div>
                            <div class="image-container">
                                @switch (context.ItemsOrientation)
                                {
                                    case Classes.Orientation.Vertical:
                                        <img src="/images/grid-1-col.png" class="w-100" />
                                        break;
                                    case Classes.Orientation.Horizontal:
                                        <img src="/images/grid-4-cols.png" class="w-100" />
                                        break;
                                    case Classes.Orientation.HorizontalOneToTwo:
                                        <img src="/images/grid-4-8-cols.png" class="w-100" />
                                        break;
                                    case Classes.Orientation.HorizontalTwoToOne:
                                        <img src="/images/grid-8-4-cols.png" class="w-100" />
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        </Dropzone>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Report Templates
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <Dropzone Items="@ReportTemplates" TItem="Report" Accepts="(d, t) => false">
                            <div>
                                @context.Title
                            </div>
                        </Dropzone>
                    </div>
                </div>
            </div>
            
            @if (CurrentReport != null)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Edit Bindings
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ReportItemEdit @bind-Report="CurrentReport"></ReportItemEdit>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col border dashboardEditable text-center">
        @*<DropZone ReportChanged="(args) => SetReport(args)" Dashboard="dashboard" />*@
        <Dropzone TItem="DashboardGroup"
                  Items="@dashboard.ReportGroups"
                  Class="w-100 h-100"
                  OnItemDrop="(args) => { OnItemDrop(args);}"
                  CopyItem="(item)=> { return new DashboardGroup() {ItemsOrientation = item.ItemsOrientation, GeneralHeader = item.GeneralHeader, GroupId = Index --}; }">
            <ChildContent>
                    <div class="report-group p-3 mb-5 position-relative">
                        <div class="relative-parent mx-auto my-1">
                            <span class="size-calibration h3">@context.GeneralHeader</span>
                        <input type="text" value="@context.GeneralHeader" class="report-header h3 autosized-input" @oninput="(ui) => { context.GeneralHeader = (string) ui.Value;}" @onchange="(args) => { context.GeneralHeader = args.Value.ToString();}" ondragstart="event.preventDefault();event.stopPropagation();" draggable="true" />
                        </div>
                        <DraggableItem DashboardGroup="context" ReportChanged="(args) => SetReport(args)" />
                        <button type="button" class="btn p-0 position-absolute closeBtn" aria-label="Close" @onclick="(args) => RemoveGroup(context)"><i class="bi bi-x-lg"></i></button>
                    </div>
            </ChildContent>
        </Dropzone>
    </div>
</div>

<div class="d-flex gx-5 gy-3 p-4 pull-right">
    <a href="/AdminDashboard" class="btn btn-outline-secondary m-1">Cancel</a>
    <button type="button" @onclick="@Save" disabled="@loading" class="btn btn-outline-primary m-1">
        @if (loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Save Changes
    </button>
</div>
@code {
    ObservableCollection<Report> ReportTemplates { get; set; }
    List<DashboardGroup> Sections { get; set; }
    Report CurrentReport{ get; set; }
    private bool loading;
    private Dashboard dashboard;

    protected override async void OnInitialized()
    {
        Sections = new List<DashboardGroup>();
        Sections.Add(new DashboardGroup() { ItemsOrientation = Classes.Orientation.Vertical, GeneralHeader = "Vertical Layout" });
        Sections.Add(new DashboardGroup() { ItemsOrientation = Classes.Orientation.Horizontal, GeneralHeader = "Horizontal Layout" });
        Sections.Add(new DashboardGroup() { ItemsOrientation = Classes.Orientation.HorizontalOneToTwo, GeneralHeader = "One to Two Layout" });
        Sections.Add(new DashboardGroup() { ItemsOrientation = Classes.Orientation.HorizontalTwoToOne, GeneralHeader = "Two to One Layout" });

        ReportTemplates = new ObservableCollection<Report>();
        ReportTemplates.Add(new Report() { ReportType = ReportTemplate.Grid, Title = "Grid" });
        ReportTemplates.Add(new Report() { ReportType = ReportTemplate.InfoLink, Title = "Info Link" });
        //ReportTemplates.Add(new Report() { ReportType = ReportTemplate.InfoList, Title = "List" });
        ReportTemplates.Add(new Report() { ReportType = ReportTemplate.SummaryList, Title = "Summary" });
        ReportTemplates.CollectionChanged += OnCollectionChanged;

        if (appViewModel.Dashboard == null)
            await appViewModel.GetDashboard();
        dashboard = appViewModel.Dashboard;
    }

    private void OnCollectionChanged(object sender, NotifyCollectionChangedEventArgs e)
    {
        if(e.Action == NotifyCollectionChangedAction.Remove)
        {
            var item = e.OldItems[0] as Report;
            OnItemDrop(item.ReportType);
        }
    }

    private void OnItemDrop(ReportTemplate reportType)
    {
        switch (reportType)
        {
            case ReportTemplate.Grid:
                ReportTemplates.Insert(0, new Report() { ReportType = ReportTemplate.Grid, Title = "Grid" });
                break;
            case ReportTemplate.InfoLink:
                ReportTemplates.Insert(1, new Report() { ReportType = ReportTemplate.InfoLink, Title = "Info Link" });
                break;
            case ReportTemplate.SummaryList:
                ReportTemplates.Add(new Report() { ReportType = ReportTemplate.SummaryList, Title = "Summary" });
                break;
            default:
                break;
        }
    }
    private int Index;

    private void OnItemDrop(DashboardGroup group)
    {
        for (int i = 0; i < dashboard.ReportGroups.Count; i++)
        {
            dashboard.ReportGroups[i].GroupIndex = i;
        }
    }

    void RemoveGroup(DashboardGroup item)
    {
        dashboard.ReportGroups.Remove(item);
    }

    public void SetReport(Report report)
    {
        CurrentReport = report;
        StateHasChanged();
    }

    private async void Save()
    {
        AlertService.Clear();
        loading = true;
        bool success =await appViewModel.SaveDashboard(dashboard);
        loading = false;
        StateHasChanged();
        if (success)
            NavigationManager.NavigateTo("/");
            //AlertService.Success("Changes Saved!", false, false);
        else
            AlertService.Error("Error Occurred.Please try again later", false, false);
    }
}
