﻿@page "/Test"

@inject DialogService DialogService

<RadzenButton Text="Show dialog with inline Blazor content" Click=@ShowInlineDialog />

@code {
        int orderID;
        async Task ShowInlineDialog()
        {
            var result = await DialogService.OpenAsync("Simple Dialog", ds =>
    @<div>
        <p Style="margin-bottom: 1rem">Confirm?</p>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Refresh" Click="(() => { orderID = 10249; ds.Refresh(); })" ButtonStyle="ButtonStyle.Info" Style="margin-bottom: 10px; width: 150px" />
                Order ID: @orderID
            </div>
        </div>
    </div>);

Console.WriteLine($"Dialog result: {result}");
}
}


@*@using Plk.Blazor.DragDrop

    <style>
        .plk-dd-dropzone {
            min-height: 200px;
        }

        </style>

    <div class="d-flex vh-100 mb-3">
        <div class="col-md-4 border">
            <Dropzone TItem="Container" Items="@Templates">
                <div class="border p-2">
                    @context.Title
                </div>
            </Dropzone>
            <Dropzone TItem="string" Items="@Subtitles">
                <div class="border p-2">
                    @context
                </div>
            </Dropzone>
        </div>
        <div class="col border">
            <Dropzone TItem="Container" Items="@ActualElements" CopyItem="(item) => { return new Container() { Title = item.Title }; }">
                <div class="border p-2 position-relative">
                    <button type="button" class="btn-close position-absolute top-0 end-0" aria-label="Close" @onclick="(args) => RemoveGroup(context)"></button>
                    @context.Title

                    <div class="dashboardEditable">

                        <Dropzone TItem="string" Items="context.SubTitles" Context="Title" CopyItem="(item) => { return item; }">
                            @Title
                        </Dropzone>
                    </div>
                </div>
            </Dropzone>
        </div>
    </div>
    @code{
        Dropzone<Container> dropZone;
        public List<Container> ActualElements { get; set; }
        public List<Container> Templates { get; set; }
        public List<string> Subtitles { get; set; }

        protected override void OnInitialized()
        {
            base.OnInitialized();
            ActualElements = new List<Container>();
            Templates = new List<Container>();
            Templates.Add(new Container() { Title = "Container 1" });
            Templates.Add(new Container() { Title = "Container 2" });
            Templates.Add(new Container() { Title = "Container 3" });

            Subtitles = new List<string>();
            Subtitles.Add("Subtitle1");
            Subtitles.Add("Subtitle2");
            Subtitles.Add("Subtitle3");
        }

        void RemoveGroup(Container item)
        {
            ActualElements.Remove(item);
        }

    }*@
