@inject NavigationManager NavigationManager
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AppRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        @{
            Console.WriteLine("not found");
            // redirect to home page if not found
            NavigationManager.NavigateTo("/AdminDashboard");
        }
    </NotFound>
</Router>
