﻿@page "/AddUser"
@attribute [Authorize]
@page "/EditUser/{*UserId}"

@inject IAlertService AlertService
@inject IAppViewModel appViewModel
@inject NavigationManager MyNavigationManager
<div class="d-flex justify-content-center my-5">
    <h1>@Title</h1>
</div>


<div class="rz-card card">
    <EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" autocomplete="off">
        <div class="row d-flex mx-auto p-4 col-6">
            <AlertBlock />
            <DataAnnotationsValidator />

            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@user.FirstName" class="form-control" placeholder="First Name" />
                    <label class="text-muted">First Name</label>
                    <ValidationMessage For="@(() => user.FirstName)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@user.LastName" class="form-control" placeholder="Last Name" />
                    <label class="text-muted">Last Name</label>
                    <ValidationMessage For="@(() => user.LastName)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@user.Email" autocomplete="new-password" class="form-control" placeholder="Email" />
                    <label class="text-muted">Email</label>
                    <ValidationMessage For="@(() => user.Email)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@user.Password" autocomplete="new-password" type="Password" class="form-control" placeholder="Password" />
                    <label class="text-muted">Password</label>
                    <ValidationMessage For="@(() => user.Password)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@user.ConfirmPassword" autocomplete="new-password" type="Password" class="form-control" placeholder="Confirm Password" />
                    <label class="text-muted">Confirm Password</label>
                    <ValidationMessage For="@(() => user.ConfirmPassword)" />
                </div>
            </div>
            @if (user.IsSiteAdmin)
            {
                <div class="my-2">
                    <div class="form-floating">
                        <InputSelect @bind-Value="@user.SiteId" class="form-control" placeholder="Site">
                            @if(sites != null)
                            foreach (var site in sites)
                            {
                                <option value="@site.SiteId">@site.SiteName</option>
                            }
                        </InputSelect>
                        <label class="text-muted">Site</label>
                        <ValidationMessage For="@(() => user.SiteId)" />
                    </div>
                </div>
            }
            else
            {
               <div class="my-2">
                    <div class="form-floating">
                        <InputSelect @bind-Value="@user.BuildingId" class="form-control" placeholder="Building">
                            @if (buildings != null)
                                foreach (var building in buildings)
                                {
                                    <option value="@building.BuildingId">@building.BuildingName</option>
                                }
                        </InputSelect>
                        <label class="text-muted">Building</label>
                        <ValidationMessage For="@(() => user.BuildingId)" />
                    </div>
                </div> 
            }

            <div class="my-2">
                <label>
                    <InputCheckbox @bind-Value="@user.IsDeviceAdmin" name="isDeviceAdmin" class="form-check-input" DisplayName="Is Device Admin"></InputCheckbox>
                    Device Admin
                </label>
            </div>
            <div class="my-2">
                <label>
                    <InputCheckbox @bind-Value="@user.IsGatewayAdmin" name="isGatewayAdmin" class="form-check-input" DisplayName="Is Gateway Admin"></InputCheckbox>
                    Gateway Admin
                </label>
            </div>
            <div class="gx-3 gy-3">
                <div class="pull-right">
                    <a href="/Users" class="btn btn-outline-secondary m-1">Cancel</a>
                    <button disabled="@loading" class="btn btn-outline-primary m-1">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        @ButtonTitle
                    </button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private User user;
    [Parameter]
    public string UserId { get; set; }
    private string Title = "ADD NEW USER";
    private string ButtonTitle = "Insert User";
    private IEnumerable<Site> sites = null;
    private IEnumerable<Building> buildings;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            user = appViewModel.Users.Where(u => u.UserId == UserId).FirstOrDefault();
            Title = "EDIT USER";
            ButtonTitle = "Update User";
        }
        else
        {
            user = new User();
            if (appViewModel.AppModel.CurrentUser.IsOrgAdmin)
            {
                user.IsSiteAdmin = true;
                await appViewModel.GetSites(appViewModel.AppModel.CurrentUser.OrganizationId);
                sites = appViewModel.Sites;
            }
            else if (appViewModel.AppModel.CurrentUser.IsSiteAdmin)
            {
                user.IsSiteAdmin = false;
                user.IsOrgAdmin = false;
                await appViewModel.GetUser(appViewModel.AppModel.CurrentUser.UserId);
                var currentUserFullInfo = appViewModel.User;
                await appViewModel.GetBuildings(currentUserFullInfo.SiteId);
                buildings = appViewModel.Buildings;
            }
        }
    }

    private void HandleValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            appViewModel.AddEditUser(user);
            loading = false;
            MyNavigationManager.NavigateTo("/Users");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

}

