﻿@page "/Users"
@attribute [Authorize]
@inject IAppViewModel  appViewModel

<div class="d-flex justify-content-center my-5">
    <h1>Users</h1>
    <div class="mx-3"><a href="/AddUser"><div class="name-rounded m-2"><i class="fa fa-plus" aria-hidden="true"></i></div></a></div>
</div>
@if (filteredList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-end">
        <div class="w-25 px2">
            <div class="input-group">
                <select class="form-select" @bind=buildingId>
                    @{
                        if(buildings != null)
                        foreach(var building in buildings){
                            <option value="@building.BuildingId">@building.BuildingName</option>
                        }
                    }
                </select>
                <button class="btn" type="button" @onclick="() => OnSearch()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            @*<div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search or filter" @oninput="@(ui => {searchTerm = (string) ui.Value;OnSearch();})" value="@searchTerm" id="search-input"></input>
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n5" type="button" @onclick="() => OnSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>*@
        </div>
    </div>
    <div>
        
        <RadzenDataList WrapItems="false" AllowPaging="false" Data="@filteredList" TItem="User">
            <Template Context="user">
                <RadzenCard>
                    <div class="row row-cols-8">
                        <div class="col-1 text-center">
                            <NavLink href="@("/EditUser/" + user.UserId)"><i class="fas fa-pen"></i></NavLink>
                        </div>
                        <div class="col text-center">
                            <div>@user.FirstName @user.LastName</div>
                        </div>
                        <div class="col text-center">
                            <div>@user.Email</div>
                        </div>
                        <div class="col text-center">
                            <div>@user.Role</div>
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </div>
}
@code {
    IEnumerable<User> users;
    IEnumerable<User> filteredList;
    List<Building> buildings;
    string buildingId;
    string searchTerm;
    protected override async Task OnInitializedAsync()
    {
        buildings = new List<Building>();
        await appViewModel.GetSites(appViewModel.AppModel.CurrentUser.OrganizationId);
        var sites = appViewModel.Sites;
        foreach (var site in sites)
        {
            await appViewModel.GetBuildings(site.SiteId);
            buildings.AddRange(appViewModel.Buildings);
        }
        await appViewModel.GetUsers("BuildingId", buildings.First().BuildingId);
        filteredList = users = appViewModel.Users;
    }

    private async void OnSearch()
    {
        filteredList = null;
        await appViewModel.GetUsers("BuildingId", buildingId);
        filteredList = users = appViewModel.Users;
        StateHasChanged();
        //var toSearch = searchTerm.Trim().ToLower();
        //if (toSearch.Equals(""))
        //    filteredList = users;
        //else
        //    filteredList = users.Where(u => u.FirstName.ToLower().Contains(toSearch) || u.LastName.ToLower().Contains(toSearch)|| u.Email.ToLower().Contains(toSearch));
    }
}

