﻿@page "/Login"
@layout UnAuthenticatedLayout
@inject IAppViewModel  appViewModel
@inject NavigationManager MyNavigationManager

<div class="row min-vh-100 unauthenticated">
    <div class="col d-flex p-0 pb-5 signUp">
        <div class="text-center m-auto">
            <h2 class="mt-5">Don't have an account?</h2>
            <p class="my-3">Create an administration account</p>

            <NavLink href="/Register" class="btn btn-primary my-5">Sign up</NavLink>
        </div>
    </div>
    <div class="col d-flex p-0">
        <FloodSensorFrontend.Views.Setup.Login />
    </div>
</div>

@code{

}