﻿@page "/AddGateway"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService
@inject NavigationManager NavigationManager

<div class="d-flex justify-content-center my-5">
    <h1>ADD NEW GATEWAY</h1>
</div>

<div class="rz-card card">
    <EditForm Model="@GatewayModel" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4 col-6">
            <AlertBlock />
            <DataAnnotationsValidator />

            <div class="my-2">
                <div class="form-floating">
                    <InputSelect placeholder="Gateway Type" @bind-Value="@GatewayModel.GatewayTypeId" class="form-select">
                        <option value=""></option>
                        @if(gatewayTypes != null)
                            foreach (var gatewayType in gatewayTypes)
                            {
                                <option value="@gatewayType.GatewayTypeId">@gatewayType.GatewayTypeName</option>
                            }
                    </InputSelect>
                    <label class="text-muted">Gateway Type</label>
                    <ValidationMessage For="@(() => GatewayModel.GatewayTypeId)" />
                </div>
            </div>
            
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@GatewayModel.Name" class="form-control" placeholder="Gateway Name" />
                    <label class="text-muted">Gateway Name</label>
                    <ValidationMessage For="@(() => GatewayModel.Name)" />
                </div>
            </div>

            <div class="my-2">
                <div class="form-floating">
                <InputSelect @bind-Value="@GatewayModel.SiteId" class="form-control" placeholder="Site" @onchange="OnSiteChange">
                    @if(sites != null)
                        foreach (var site in sites)
                        {
                            <option value="@site.SiteId">@site.SiteName</option>
                        }
                    </InputSelect>
                    <label class="text-muted">Site</label>
                </div>
            </div>

            <div class="my-2">
                <div class="form-floating">
                <InputSelect @bind-Value="@GatewayModel.BuildingId" class="form-control" placeholder="Building" @onchange="OnBuildingChange">
                    @if (buildings != null)
                        foreach (var building in buildings)
                        {
                            <option value="@building.BuildingId">@building.BuildingName</option>
                        }
                    </InputSelect>
                    <label class="text-muted">Building</label>
                    <ValidationMessage For="@(() => GatewayModel.BuildingId)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                <InputSelect @bind-Value="@GatewayModel.FloorId" class="form-control" placeholder="Floor" @onchange="OnFloorChange">
                    @if (floors != null)
                        foreach (var floor in floors)
                        {
                            <option value="@floor.FloorId">@floor.FloorName</option>
                        }
                    </InputSelect>
                    <label class="text-muted">Floor</label>
                    <ValidationMessage For="@(() => GatewayModel.FloorId)" />
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                <InputSelect @bind-Value="@GatewayModel.ZoneId" class="form-control" placeholder="Zone">
                    @if (zones != null)
                        foreach (var zone in zones)
                        {
                            <option value="@zone.ZoneId">@zone.ZoneName</option>
                        }
                    </InputSelect>
                    <label class="text-muted">Zone</label>
                    <ValidationMessage For="@(() => GatewayModel.ZoneId)" />
                </div>
            </div>
            <div class="gx-3 gy-3">
                <div class="pull-right">
                    <a href="/Gateways" class="btn btn-outline-secondary m-1">Cancel</a>
                    <button disabled="@loading" class="btn btn-outline-primary m-1">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Save
                    </button>
                </div>
                
            </div>
        </div>
    </EditForm>
</div>

@code {

    Gateway GatewayModel = new Gateway();
    IEnumerable<GatewayType> gatewayTypes = null;
    private IEnumerable<Site> sites = null;
    private IEnumerable<Building> buildings;
    private IEnumerable<Floor> floors;
    private IEnumerable<Zone> zones;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        await appViewModel.GetGatewayTypes();
        gatewayTypes = appViewModel.GatewayTypes;
        await appViewModel.GetSites(appViewModel.AppModel.CurrentUser.OrganizationId);
        sites = appViewModel.Sites;
    }

    async void OnSiteChange(ChangeEventArgs e)
    {
        var newSite = e.Value.ToString();
        await appViewModel.GetBuildings(newSite);
        buildings = appViewModel.Buildings;
    }

    async void OnBuildingChange(ChangeEventArgs e)
    {
        var newBuilding = e.Value.ToString();
        await appViewModel.GetFloors(newBuilding);
        floors = appViewModel.Floors;
    }

    async void OnFloorChange(ChangeEventArgs e)
    {
        var newFloor = e.Value.ToString();
        await appViewModel.GetZones(newFloor);
        zones = appViewModel.Zones;
    }
    private async void OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditGateway(GatewayModel);
            loading = false;
            NavigationManager.NavigateTo("/Gateways");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

}
