﻿@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject IAppViewModel  appViewModel
@using System.Net;

<div class="m-auto col-6">
    <h2 class="mb-5 text-center">Sign In</h2>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <AlertBlock />
        <DataAnnotationsValidator />
        <div class="my-3">
            <label class="my-2">Username</label>
            <InputText @bind-Value="model.Username" class="form-control" placeholder="mail@website.com" />
            <ValidationMessage For="@(() => model.Username)" />
        </div>
        <div class="my-3">
            <label class="my-2">Password</label>
            <InputText @bind-Value="model.Password" type="password" class="form-control" placeholder="your password" />
            @*<i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>*@
            <ValidationMessage For="@(() => model.Password)" />
        </div>

        <div class="row mt-3 mb-5">
            <div class="col">
                <div class="form-check">
                    <InputCheckbox @bind-Value="model.RememberMe" class="form-check-input" id="rememberMe" />
                    <label for="rememberMe" class="form-check-label fw-normal">Remember me</label>
                </div>
            </div>
            <div class="col">
                <NavLink href="/ForgotPassword" class="float-end">Forgot password?</NavLink>
            </div>
        </div>
        <button disabled="@loading" class="btn btn-primary my-3 w-100">
            @if (loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Login
        </button>
    </EditForm>
</div>

@code {
    private LoginModel model = new LoginModel();
    private bool loading;
    private string wsHost = "floodsensorapi.aidirections.com";
    private const int wsPort = 9884 ;
    private const string _topic = "SomeTopic";
    protected string Name { get; set; } = $"User1";

    private async void OnValidSubmit()
    {
        // reset alerts on submit
        AlertService.Clear();

        loading = true;
        try
        {
            //model.Email = model.Username;
            await appViewModel.Login(model);
            loading = false;
            var returnUrl = WebUtility.UrlDecode(NavigationManager.QueryString("returnUrl")) ?? "/";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }
}