﻿@page "/Register"
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject IAppViewModel  appViewModel
    <div class="d-flex unauthenticated">
            <div class=@(IsPopupMode? "":"col-4 m-auto")>
                
            @if (!IsPopupMode)
                    {
                        <h2 class="my-5 text-center">Create New Organization</h2>
                    }
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit" OnInvalidSubmit="OnInvalidSubmit">
                    <AlertBlock />
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="m-4">
                        <InputText @bind-Value="@model.OrganizationName" name="organizationName" class="form-control" placeholder="Organization Name" />
                        <ValidationMessage For="@(() => model.OrganizationName)" />
                    </div>
                    <div class="m-4">
                        <InputText @bind-Value="@model.OrganizationAliasName" name="aliasName" class="form-control" placeholder="Organization Alias Name" />
                        <ValidationMessage For="@(() => model.OrganizationAliasName)" />
                    </div>
                    <div class="m-4">
                        <div class="row row-cols-2">
                            <div class="col">
                                <InputText @bind-Value="@model.FirstName" class="form-control" placeholder="First Name" />
                                <ValidationMessage For="@(() => model.FirstName)" />
                            </div>
                            <div class="col">
                                <InputText @bind-Value="@model.LastName" class="form-control" placeholder="Last Name" />
                                <ValidationMessage For="@(() => model.LastName)" />
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <InputText @bind-Value="@model.Username" name="username" class="form-control" placeholder="Min. 6 characters" />
                        <ValidationMessage For="@(() => model.Username)" />
                    </div>
                    <div class="m-4">
                        <InputText @bind-Value="model.Password" type="password" class="form-control" placeholder="Min. 6 characters" />
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                    <div class="m-4">
                        <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password" />
                        <ValidationMessage For="@(() => model.ConfirmPassword)" />
                    </div>

                    <div class="m-3">
                        <button disabled="@loading" class="btn btn-primary w-100">
                            @if (loading)
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Register
                        </button>
                    </div>
            @if (!IsPopupMode)
            {
                <hr class="my-4 mx-2" />
                <div class="m-4">
                    <p>Already have an account ? <NavLink href="/">Log in</NavLink></p>
                </div>
            }
        </EditForm>
            </div>
        </div>

@code {
    [Parameter]
    public bool IsPopupMode { get; set; }

    private RegisterModel model = new RegisterModel()
    {
        //FirstName = "Nada",
        //LastName = "Naoushi",
        //Username = "nada.naoushi",
        //Password = "nada1224",
        //OrganizationName = "SuperOrg",
        //OrganizationAliasName = "SuperAliasOrg",
        //Email = "nada.naoushi@hotmail.com",
        //ConfirmPassword = "nada1224"
    };
    private bool loading;

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }


    public async Task OnCancelClick()
    {
        if (OnCancel.HasDelegate)
            await OnCancel.InvokeAsync();
    }

    private async void OnValidSubmit()
    {
        // reset alerts on submit
        AlertService.Clear();

        loading = true;
        try
        {
            model.Email = "nada.naoushi@aidirections.com";
            await appViewModel.Register(model);
            loading = false;

            if (OnSave.HasDelegate)
            {
                await OnSave.InvokeAsync();
            }
            else
            {
                var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
                NavigationManager.NavigateTo(returnUrl);
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }

    private async void OnInvalidSubmit()
    {

    }
}
