﻿
@import "bootstrap/functions";
@import "bootstrap/variables";

$body-bg:  rgba(243,247,253,1);
$nav-link-color: #ccc;
$nav-link-hover-color: white;

$navbar-light-color: rgba(#fff, .75);
$navbar-light-hover-color: rgba(#fff ,1);
$navbar-light-active-color: rgba(#fff, .8);

$input-bg: #f3f7fd;
$input-border-color: #f3f7fd;
$form-select-bg: #f3f7fd;
$form-select-border-color: #f3f7fd;

$red: rgba(254,56,64,1);
$yellow: rgba(255,226,0,1);
$green: rgba(0,186,125,1);
$blue: rgba(70,120,255,1);

@import "bootstrap/bootstrap";

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.bg-light {
    background-color: rgba(70,120,255,1) !important;
}


.navbar {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}
.content{
    width: 90%;
}
.ms-n5 {
    margin-left: -40px;
}
.rz-g > div, .rz-datalist-data > li{
    padding:0 !important;
}
.rz-card, .rz-g > div, .rz-datalist-data > li {
    border-radius: 10px !important;
}
.rz-card {
    padding: 15px !important;
}

    .name-rounded {
        background-color: rgba(70,120,255,1);
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        width: auto !important;
        display: inline-block;
        padding: 3px 10px;
    }

    .name-small-rounded {
        background-color: rgba(70,120,255,1);
        border-radius: 4px;
        color: #fff;
        text-align: center;
        width: auto !important;
        display: inline-block;
        padding: 3px 10px;
    }

    #signal-strength {
        height: 40px;
        list-style: none;
        overflow: hidden;
        display: inline-table;
    }

    #signal-strength li {
        display: inline-table;
        width: 3px;
        vertical-align: bottom;
        margin-right: 2px;
    }

    #signal-strength li.strength0 {
        height: 5%;
    }

    #signal-strength li.strength1 {
        height: 25%;
    }

    #signal-strength li.strength2 {
        height: 50%;
    }

    #signal-strength li.strength3 {
        height: 75%;
    }

    #signal-strength li.strength4 {
        height: 100%;
    }

    #signal-strength li div {
        border-radius: 2px/2px;
        height: 100%;
    }

    div.signal1, ul.signal1 li div {
        background-color: $red;
    }

    div.signal2, ul.signal2 li div {
        background-color: $yellow;
    }

    div.signal3, ul.signal3 li div, div.signal4, ul.signal4 li div {
        background-color: $green;
    }

    .card, .rz-datalist-data .card {
        border: 0 !important;
    }



.form-control input[type='text'] {
    background: $input-bg;
}


    .three-dots {
        font-size: 2rem;
        font-weight: bold;
        color: rgba(70,120,255,1);
        cursor: pointer;
    }

.rz-navigation-item-link, .rz-navigation-item-text {
    color: rgba(70,120,255,1);
}


.rz-dropdown valid form-select{
    background-color: #f3f7fd;
}

.rz-dropdown-panel rz-popup{
    border-radius: 15px;
}
.rz-dropdown-item:hover,
.rz-menuitem:hover,
.rz-autocomplete-list-item:hover,
.rz-multiselect-item:hover,
.rz-dropdown-items li:hover,
.rz-autocomplete-items li:hover,
.rz-multiselect-items li:hover,
.rz-dropdown-items li.rz-state-highlight, .rz-dropdown-item.rz-state-highlight {
    background-color: white !important;
    color: rgba(70,120,255,1) !important;
    font-weight: bold;
}

.rz-dropdown {
    border-color: $input-bg !important;
    background-color: $input-bg !important;
    box-shadow:none !important;
}

.rz-dropdown-items-wrapper, .rz-popup {
    border-color: $input-bg !important;
    background-color: $input-bg !important;
    border-bottom-left-radius: 15px;
    border-color: $input-bg !important;
    border-bottom-right-radius: 15px;
}

.colored {
    color: white;
    margin: auto;
}

.material-icons{
    font-size: 30px !important;
}

.report-body {
    padding: 7px 10px;
    font-size: 18px;
    /*width: 100%;*/
}

.report-item, .rz-g .report-item {
    background-color: #EAEFF9;
    border-radius: 20px !important;
    font-size: 18px;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 6%);
}

/*.rz-card h1, .rz-card h2, .rz-card h3, .rz-card h4, .rz-card h5, .rz-card h6{
    margin-bottom: 0!important;
}*/

.border-radius-small {
    border-radius: 5px;
}

.border-radius-big{
    border-radius: 30px;
}

.colored .report-header{
    font-size: 15px;
    font-weight:600;
}
#Icons .rz-state-highlight {
    border: 2px solid $red;
}
.rz-state-highlight.rz-multiselect-item {
    background-color: transparent !important;
}
.report .rz-g > div {
    border: none !important;
    /*flex:unset;*/
}
.red .report-header {
    color: $red;
}
.red .report-body, div[aria-label="red"][class*='rz-state-active'] {
    background-color: $red !important;
    color: white !important;
}
.rz-selectbutton div[aria-label="red"][class*='rz-button-text-only'] {
    border-color: $red !important;
    color: $red;
}
.rz-selectbutton div[aria-label="red"][class*='rz-button-text-only']:hover, .rz-selectbutton div[aria-label="red"][class*='rz-button-text-only']:active {
    border-color: darken($red,40%);
    color: darken($red,30%);
}

/*.rz-selectbutton div[class*='rz-button-text-only']:hover {
    filter: brightness(85%);
}*/

.rz-button:hover, .rz-button:active{
    background-image: none !important;
    box-shadow: none !important;
}

.yellow .report-header {
    color: $yellow;
}
.yellow .report-body, div[aria-label="yellow"][class*='rz-state-active'] {
    background-color: $yellow !important;
    color: white !important;
}
.rz-selectbutton div[aria-label="yellow"][class*='rz-button-text-only']:hover, .rz-selectbutton div[aria-label="yellow"][class*='rz-button-text-only']:active {
    border-color: darken($yellow,40%);
    color: darken($yellow,20%);
}


.rz-selectbutton div[aria-label="yellow"][class*='rz-button-text-only'] {
    border-color: $yellow !important;
    color: $yellow;
}

.green .report-header {
    color: $green;
}
.green .report-body, div[aria-label="green"][class*='rz-state-active'] {
    background-color: $green !important;
    color: white !important;
}
.rz-selectbutton div[aria-label="green"][class*='rz-button-text-only'] {
    border-color: $green !important;
    color: $green;
}
.rz-selectbutton div[aria-label="green"][class*='rz-button-text-only']:hover, .rz-selectbutton div[aria-label="green"][class*='rz-button-text-only']:active {
    border-color: darken($green,40%);
    color: darken($green,20%);
}


.blue .report-header {
    color: $blue;
}
.blue .report-body, div[aria-label="blue"][class*='rz-state-active'] {
    background-color: $blue !important;
    color: white !important;
}
.rz-selectbutton div[aria-label="blue"][class*='rz-button-text-only'] {
    border-color: $blue !important;
    color: $blue;
}
.rz-selectbutton div[aria-label="blue"][class*='rz-button-text-only']:hover, .rz-selectbutton div[aria-label="blue"][class*='rz-button-text-only']:active {
    border-color: darken($blue,40%);
    color: darken($blue,30%);
}

input.report-header {
    background-color: transparent;
    border: none;
}
input.report-header:hover, input.report-header:focus{
    border: 1px dotted;
}

.rz-splitter-pane {
    background-color: rgba(234,239,249,1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    padding: 20px;
}

.report-group {
    background-color: rgba(234,239,249,1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    color:black;
}

.dashboardEditable {
    /*display: flex;
    flex-wrap: wrap;*/
}
.dashboardEditable:hover {
    border: 2px dashed rgb(156,156,156) !important;
}

.image-container {
    border: 1px solid #e6e5e5;
    border-radius: 6px;
    padding: 10px;
    margin: 3px 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s ease;
}


.top-logo {
    top: 5%;
    left: 3%;
    background: white;
    border-radius: 25px;
}

.unauthenticated .form-control, .unauthenticated .form-select, .unauthenticated .btn {
    border-color: #4678FF;
    border-radius: 15px !important;
}

.unauthenticated .form-control::placeholder {
    color: #B1B4B8;
}

.unauthenticated h1, .unauthenticated h2, .unauthenticated label, .unauthenticated p{
    color: #4678FF;
} 

.unauthenticated label{
    font-weight: 500;
}

.form-check-input{
    font-size: 16px;
}

.unauthenticated .signUp {
    background: url('../images/signInbg.png');
    background-size: 100% 100%;
}

.unauthenticated .signUp .btn{
    background-color: transparent;
    border-color: white;
    min-width: 180px;
}

.unauthenticated .signUp h1, .unauthenticated .signUp h2, .unauthenticated.signUp label, .unauthenticated .signUp p {
    color: white !important;
}


.validation-message {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid ~ .validation-message {
    display: block;
}

.form-control.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

textarea.form-control.invalid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.form-check-input.invalid ~ .form-check-label {
    color: #dc3545;
}

.form-check-input.invalid ~ .validation-message {
    display: block;
}



.accordionContainer {
    background: white;
    border-radius: 15px;
    margin: 0 10px;
}

/*.accordion-item:first-of-type{
    margin-top: 20px;
}*/

.accordion-item{
    border: 0px;
    margin: 25px 15px;
}

.accordion-button {
    background-color: #EAEFF9 !important;
    border-radius: 25px !important;
    padding: 8px 20px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    font-weight:500;
}
.accordion-button:not(.collapsed){
    color: black;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234678FF' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
}


.sub-level .accordion-item {
    margin: 5px 0;
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}

.sub-level > .accordion-item > .accordion-header > .accordion-button {
    background-color: #4678FF !important;
    color: white;
}

.sub-level > .accordion-item > .accordion-header > .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
}

.sub-level .accordion-button{
    box-shadow:none;
}
.third-level .accordion-body{
    padding: 10px 0;
}


/* auto shrink input */

.relative-parent {
    position: relative;
    min-width: 1em;
    width: min-content;
}

.size-calibration {
    visibility: hidden;
    /* Prevent the span from wrapping the text when input value has multiple words, or collapsing multiple spaces into one */
    white-space: pre;
}

.autosized-input {
    position: absolute;
    left: 0;
    width: 100%;
}

.size-calibration, .autosized-input {
    /* Normalize styles that the browser sets differently between spans and inputs. 
    Ideally, use a "CSS reset" here. */ 
    font-family: var(--bs-font-sans-serif);
    padding: 0;
    /* Demonstrate that this works for input with custom styles */
   /* font-size: 24px;*/
}
/* end */

.closeBtn{
    right: 8px;
    top: 5px;
}


.toast {
    display: none;
    padding: 1.5rem;
    color: #fff;
    z-index: 1;
    position: absolute;
    width: 25rem;
    top: 2rem;
    border-radius: 1rem;
    left: 50%;
}

.toast-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

.toast-body p {
    margin-bottom: 0;
}

.toast-visible {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}
