﻿.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align:initial !important;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 6%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 40%;
    background-color: rgba(254,56,64,1);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider:before {
    background-color: rgba(0,186,125,1);
    -webkit-transform: translateX(calc(100%*1.5));
    -ms-transform: translateX(calc(100%*1.5));
    transform: translateX(calc(100%*1.5));
}

.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 25px;
}

.on {
    display: none;
    color: rgba(0,186,125,1);
    left: 30%;
}

.off {
    color: rgba(254,56,64,1);
    left: 70%;
}

.on, .off {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}