﻿@using Plk.Blazor.DragDrop

<Dropzone TItem="Report"
          Context="ReportItem"  
          ItemWrapperClass="(item) => OrientationHelper.getWrapperClassName(DashboardGroup.ItemsOrientation,item.Index)"
          Class="@(DashboardGroup.ItemsOrientation == Classes.Orientation.Vertical ? "":"d-flex")"
          MaxItems="@(OrientationHelper.GetMaxItems(DashboardGroup.ItemsOrientation))" 
          InstantReplace="true"
          Items="@(DashboardGroup.Reports)" OnItemDrop="(item) =>{ OnItemDrop(item);}">
    <div class="w-auto m-1">
        <div class="position-relative">
            <div>
                @{ switch (ReportItem.ReportType)
                    {
                        case Classes.ReportTemplate.Grid:
                            <GridEdit Report="ReportItem" ReportSelected="ReportChanged"/>
                            break;
                        case Classes.ReportTemplate.SummaryList:
                            <SummaryListEdit Report="ReportItem" ReportSelected="ReportChanged"/>
                            break;
                        case Classes.ReportTemplate.InfoLink:
                            <InfoLinkEdit Report="ReportItem" ReportSelected="ReportChanged" />
                            break;
                        default:
                            break;
                    }
                }
            </div>
            <button type="button" class="btn p-0 position-absolute closeBtn" aria-label="Close" @onclick="(args) => RemoveReport(ReportItem)"><i class="bi bi-x-lg"></i></button>
        </div>
    </div>
</Dropzone>

@code {

    [Parameter]
    public EventCallback<Report> ReportChanged{ get; set; }

    [Parameter]
    public DashboardGroup DashboardGroup { get; set; }

    private int ReportsIndex;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        ReportsIndex = 0;
        return base.OnAfterRenderAsync(firstRender);
    }
    

    private void OnItemDrop(Report report)
    {
        for (int i = 0; i < DashboardGroup.Reports.Count; i++)
            DashboardGroup.Reports[i].Index = i;
    }
    void RemoveReport(Report item)
    {
        DashboardGroup.Reports.Remove(item);
    }

    }
