﻿@using Plk.Blazor.DragDrop
@inject IAppViewModel appViewModel

<Dropzone TItem="DashboardGroup"
          Items="@Dashboard.ReportGroups" 
          Class="w-100 h-100" 
          OnItemDrop="(args) => { OnItemDrop(args);}"
          CopyItem="(item)=> { return new DashboardGroup() {ItemsOrientation = item.ItemsOrientation, GeneralHeader = item.GeneralHeader, GroupId = Index --}; }">
    <ChildContent>
        @if (context.GeneralHeader == "")
        {
            <div class="col-12 my-auto">
                <p class="text-sm">Start creating your template by dragging elements from left<span class="ms-1"><svg width="16" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.3" d="M6 11C5.44772 11 5 11.4477 5 12C5 12.5523 5.44772 13 6 13H18C18.5523 13 19 12.5523 19 12C19 11.4477 18.5523 11 18 11H6Z" fill="black"></path><path d="M11.2929 17.2929C10.9024 17.6834 10.9024 18.3166 11.2929 18.7071C11.6834 19.0976 12.3166 19.0976 12.7071 18.7071L18.7071 12.7071C19.0857 12.3285 19.0989 11.7189 18.7372 11.3243L13.2372 5.32428C12.864 4.91716 12.2314 4.88965 11.8243 5.26285C11.4172 5.63604 11.3897 6.26861 11.7628 6.67572L16.6159 11.9699L11.2929 17.2929Z" fill="black"></path></svg></span></p>
            </div>
        }
        else
        {
            <div class="report-group p-3 mb-5 position-relative">
                <div class="relative-parent mx-auto my-1">
                  <span class="size-calibration h3">@context.GeneralHeader</span>
                  <input type="text" value="@context.GeneralHeader" class="report-header h3 autosized-input" @oninput="(ui) => { context.GeneralHeader = (string) ui.Value;}" @onchange="(args) => { context.GeneralHeader = args.Value.ToString();}"/>
                </div>
                <DraggableItem DashboardGroup="context" ReportChanged="ReportChanged" />
                <button type="button" class="btn p-0 position-absolute closeBtn" aria-label="Close" @onclick="(args) => RemoveGroup(context)"><i class="bi bi-x-lg"></i></button>
            </div>
         }
    </ChildContent>
</Dropzone>

@code {

    [Parameter]
    public EventCallback<Report> ReportChanged{ get; set; }

    [Parameter]
    public Dashboard Dashboard{ get; set; }

    private int Index;

    private void OnItemDrop(DashboardGroup group)
    {
        for(int i =0; i < Dashboard.ReportGroups.Count; i++)
        {
            Dashboard.ReportGroups[i].GroupIndex = i;
        }
    }

    void RemoveGroup(DashboardGroup item)
    {
        Dashboard.ReportGroups.Remove(item);
    }

    protected override async Task OnInitializedAsync()
    {
        Index = 0;
    }

}
