﻿@inject IAppViewModel  appViewModel

<RadzenCard>
    <h3 class="my-3 mx-auto">@Report.Title</h3>
    <RadzenDataList TItem="ReportRecord" Data="@DataSource" WrapItems="true">
        <Template Context="row">
            <div class="report-item row row-cols-@NbOfColumns">
                @foreach (var item in row.Values)
                {
                    <div class="col p-2">
                        @item.Value
                    </div>
                }
            </div>
        </Template>
    </RadzenDataList>
</RadzenCard>

@code {

    [Parameter]
    public Report Report { get; set; }

    public ReportRecord[] DataSource { get; set; }

    private int NbOfColumns { get => Report.Columns.Count; }

    protected override async Task OnInitializedAsync()
    {
        //DataSource = await appViewModel.GetReportValues(Report);
        //if(DataSource == null || DataSource.Count() ==0 )
        //{
        var list = new List<ReportRecord>();
        var record = new ReportRecord();
        var values = new List<ReportItemValue>();
        for (int i = 0; i < NbOfColumns; i++)
        {
            values.Add(new ReportItemValue() { Name="HeaderValue" + i, Value = Report.Columns[i].QuerySelectedField, AssociatedDataItem = Report.Columns[i] });
        }
        //values.Add(new ReportItemValue() { Name="SensorName", Value = "Sensor1", AssociatedDataItem = Report.Columns[0] });
        //values.Add(new ReportItemValue() { Name = "BatteryPercent", Value = "20", AssociatedDataItem = Report.Columns[1] });
        record.Values = values.ToArray();
        DataSource = new ReportRecord[] { record };
        //  }
    }
}
