﻿@inject IAppViewModel  appViewModel


<RadzenCard @onclick="@OpenDialog">
    
    <div class="d-flex mx-auto my-3 relative-parent">
        <span class="size-calibration h4">@Report.Title</span>
        <input type="text" value="@Report.Title" class="report-header h4 autosized-input" ondragstart="event.preventDefault();event.stopPropagation();" draggable="true" @oninput="(ui) => { Report.Title = (string) ui.Value;}" @onchange="(args) => { Report.Title = args.Value.ToString();}" />
    </div>
    <div class="report-item">
        <RadzenDataList TItem="ReportDataItem" Data="@Report.Columns" WrapItems="true">
            <Template Context="column">
                <span class="col p-2">
                    <div>@column.QuerySelectedField</div>
                </span>
            </Template>
        </RadzenDataList>
    </div>
</RadzenCard>

@code {

    [Parameter]
    public Report Report { get; set; }
    [Parameter]
    public EventCallback<Report> ReportSelected{ get; set; }

    private int NbOfColumns { get => Report.Columns.Count; }

    protected override async Task OnInitializedAsync()
    {
        if(Report.Columns.Count == 0)
        {
            var Item = new ReportDataItem() { Header = "", QuerySelectedField = "" };
            Report.Columns.Add(Item);
        }
    }

    public async Task OpenDialog()
    {
        await ReportSelected.InvokeAsync(Report);
    }
}
