﻿@inject IAppViewModel appViewModel
@inject DialogService DialogService; 
@if (Item != null)
{
    <RadzenCard>
        <div class="mx-3">
            <div class="relative-parent report-header mx-auto">
                <span class="size-calibration h4">@Item.Header</span>
                <input type="text" value="@Item.Header" class="report-header h4 autosized-input" ondragstart="event.preventDefault();event.stopPropagation();" draggable="true" @oninput="(ui) => { Item.Header = (string) ui.Value;}" @onchange="(args) => { Item.Header = args.Value.ToString();}" />
            </div>
            <div class="w-auto">
                <button class="btn d-inline-flex colored mt-3 @Item.ColorClassName" @onclick="@OpenDialog">
                    <div class="report-body w-auto border-radius-small">
                        <span class="material-icons">@Item.Icon</span>
                    </div>
                </button>
            </div>
        </div>
    </RadzenCard>
}

@code {
    [Parameter]
    public Report Report { get; set; }

    [Parameter]
    public EventCallback<Report> ReportSelected{ get; set; }

    public ReportDataItem Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Report.Columns.Count == 0)
        {
            Item = new ReportDataItem() { Header = "InfoLinkHeader", DataType = DataTypes.String, ColorClassName = "red", Icon = "info" };
            Report.Columns.Add(Item);
        }
        else
        {
            Item = Report.Columns[0];
        }
    }

    public async Task OpenDialog()
    {
        await ReportSelected.InvokeAsync(Report);
    }
}
