﻿@inject IAppViewModel  appViewModel
@inject NavigationManager NavigationManager

@if (Item != null)
{
<div class="d-flex m-2">
    <RadzenCard class="mx-auto">
        <div class="report-header">
            <h4>@Item.AssociatedDataItem.Header</h4>
        </div>
        <button class="btn colored my-2 mx-4 @Item.AssociatedDataItem.ColorClassName" @onclick="@RedirectToLink">
            <div class="d-inline-flex report-body w-auto border-radius-small">
                <span class="material-icons">@Item.AssociatedDataItem.Icon</span>
            </div>
        </button>
    </RadzenCard>
</div>
}

@code {

    [Parameter]
    public Report Report { get; set; }

    public ReportItemValue Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await appViewModel.GetReportValues(Report);
        if (result != null && result.Count() > 0)
        {
            Item = result[0].Values[0];
        }
        else
        {
            // for demo 
            if(Report.Columns.Count == 0)
            {

            }
            Item = new ReportItemValue() { AssociatedDataItem = Report.Columns[0], Name = "Leakage", Value = "3" };
        }
    }

    public async Task RedirectToLink()
    {
        var item = Report.Columns[0];
        var link = "/";
        var queryObj = item.QueryObject;
        if (queryObj == "Sensor")
            link += queryObj + "s/1";// + "?" + item.QuerySelectedField;
        else
            link += queryObj + "s";
        NavigationManager.NavigateTo(link);
    }
}
