﻿@inherits LayoutComponentBase
<RadzenContextMenu/>
<RadzenDialog />
<ToastBase></ToastBase>
    <div>
        <NavMenu />
    </div>
    <div class="container min-vh-100">
        @Body
    </div>
<div class="my-5"></div>

