﻿@inject IAppModel AppModel

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link active" aria-current="page" href="/AdminDashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sensors
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/Sensors/1">Water Flood Sensors</a></li>
                        
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/SensorsMap">Sensors Map</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Gateways">Gateways</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarSettings" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarSettings">
                        @*@if(AppModel.CurrentUser.IsGlobalAdmin || AppModel.CurrentUser.IsOrgAdmin)
                        {*@
                            <li><a class="dropdown-item" href="/ViewAssets">Assets</a></li>
                        @*}*@
                        <li><a class="dropdown-item" href="/logs">Log Page</a></li>
                        <li><a class="dropdown-item" href="/Users">Manage Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/account/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div class="row w-25">
                <form class="d-flex">
                    <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search or filter" id="search-input">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n5" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
