﻿<div class="my-3">

    <div class="form-floating">
        @if (Model.SettingType == "string")
        {
            <input type="text" value="@Model.SettingValue" class="form-control" placeholder="@Model.SettingName" @onchange="OnChange" />
        }
        @if (Model.SettingType == "int")
        {
            <input type="number" value="@Model.SettingValue" class="form-control" placeholder="@Model.SettingName" @onchange="OnChange" />
        }
        <label class="text-muted">@Model.SettingName</label>
    </div>
    </div>
    @code {
        [Parameter] public SensorSettingsItem Model { get; set; }
        [Parameter] public EventCallback<SensorSettingsItem> ModelChanged { get; set; }

        async void OnChange(ChangeEventArgs e)
        {
            await ModelChanged.InvokeAsync(Model);
        }
    }
