﻿@inject IAppViewModel  appViewModel

<RadzenCard>
    <div class="d-flex">
        @{
            for (int i = 0; i < Report.Columns.Count; i++)
            {
                var Item = Report.Columns[i];
                <div class="colored @Item.ColorClassName">
                    <div class="report-header my-2">@Item.Header </div>
                    <div class="d-inline-flex report-body border-radius-big">
                        <div style="width:100%; min-width:100px">TestValue</div>
                        <span class="material-icons">@Item.Icon</span>
                    </div>
                </div>
            }
    }
    </div>
</RadzenCard>

@code {

    [Parameter]
    public Report Report { get; set; }

    //private ReportItemValue DataSource { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await appViewModel.GetReportValues(Report);
        //if(result != null && result.Count() > 0)
        //{
        //    DataSource = result[0].Values[0];
        //}
        //else
        //{
        //    DataSource = new ReportItemValue() { AssociatedDataItem = Report.Columns[0], Name ="TestName", Value ="TestValue" };
        //}
    }
}
