﻿@inject IAppViewModel  appViewModel
@inject DialogService DialogService

@if (Report != null)
{
    <RadzenCard>
        <div class="d-flex">
            @{
                for(int i =0; i < Report.Columns.Count; i++)
                {
                    var Item = Report.Columns[i];
                    if (Item != null)
                    {
                        <div class="position-relative">
                            <button class="btn colored @Item.ColorClassName mx-3" @onclick="(args) => OpenDialog(Item)">
                                <div class="relative-parent my-2 mx-auto">
                                    <span class="size-calibration">@Item.Header</span>
                                    <input type="text" value="@Item.Header" maxlength="30" class="report-header autosized-input" @oninput="(ui) => { Item.Header = (string) ui.Value;}" @onchange="(args) => { Item.Header = args.Value.ToString();}" ondragstart="event.preventDefault();event.stopPropagation();" draggable="true" />
                                </div>
                                <div class="d-inline-flex m-2 report-body border-radius-big">
                                    <div style="width:100%;" contenteditable="true">Test</div>
                                    <span class="material-icons" contenteditable="true">@Item.Icon</span>
                                </div>
                            </button>
                            <button type="button" class="btn p-0 position-absolute closeBtn" aria-label="Close" @onclick="(args) => RemoveItem(Item)"><i class="bi bi-x-lg"></i></button>
                        </div>
                    }
                }
            }
            @if (CanAdd)
            {
                <button class="btn mt-5" @onclick="AddNewColumn">
                    <i class="name-rounded p-0 h3 bi bi-plus"></i>
                </button>
            }
        </div>
    </RadzenCard>
}
@code {

    [Parameter]
    public Report Report { get; set; }
    [Parameter]
    public EventCallback<Report> ReportSelected{ get; set; }

    private bool CanAdd{ get; set; }

    //public ReportDataItem Item{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(Report.Columns.Count == 0)
        {
            var Item = new ReportDataItem() { Header = "SummaryItemHeader", DataType = DataTypes.String, ColorClassName = "green", Icon = "info" };
            Report.Columns.Add(Item);
        }
        CanAdd = Report.Columns.Count < 4;
    }

    private void AddNewColumn()
    {
        if(Report.Columns.Count < 4)
        {
            var index = Report.Columns.Count;
            var Item = new ReportDataItem() { Header = "SummaryItemHeader"+ index, DataType = DataTypes.String, ColorClassName = "green", Icon = "info" };
            Report.Columns.Add(Item);
        }
        CanAdd = Report.Columns.Count < 4;
    }

    public async Task OpenDialog(ReportDataItem item)
    {
        int colIndex = Report.Columns.IndexOf(item);
        Report.CurrentActiveColumn = colIndex;
        await ReportSelected.InvokeAsync(Report);
    }

    private void RemoveItem(ReportDataItem item)
    {
        Report.Columns.Remove(item);
        CanAdd = Report.Columns.Count < 4;
    }
}
