﻿@inherits LayoutComponentBase

<div class="position-relative container-fluid min-vh-100">
    <div class="position-absolute top-logo">
        <img src="/images/AIDirections_logo.png" />
    </div>
    @Body
</div>
