﻿@page "/AddBuilding/{*SiteId}"
@page "/EditBuilding/{*BuildingId}"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService

@if (!IsPopupMode)
{
    <div class="d-flex justify-content-center my-5">
        <h1>@Title</h1>
    </div>
}

<div class=@(IsPopupMode? "":"rz-card card")>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4">
            <AlertBlock />
            <ValidationSummary />
            <DataAnnotationsValidator />
            <div class="my-2">
                <InputText @bind-Value="@Model.BuildingName" class="form-control" placeholder="Building Name" />
            </div>
            <div class="my-2">
                <InputText @bind-Value="@Model.BuildingDescription" class="form-control" placeholder="Building Description" />
            </div> 
            <div class="my-2">
                <InputNumber @bind-Value="@Model.NumberOfFloors" class="form-control" placeholder="Number of floors" />
            </div>
            <div>
                <button class="btn btn-outline-primary pull-right mx-1">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    } Save
                </button>
                <NavLink @onclick="OnCancelClick" class="btn btn-outline-secondary pull-right">Cancel</NavLink>
            </div>
        </div>
    </EditForm>
</div>

@code {

    [Parameter]
    public bool IsPopupMode { get; set; }

    [Parameter]
    public string BuildingId { get; set; }
    [Parameter]
    public string SiteId { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public Building Model { get; set; }

    private string Title;
    private bool loading;

    public async Task OnCancelClick()
    {
        await OnCancel.InvokeAsync();
    }

    public async Task OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditBuilding(Model);
            loading = false;
            await OnSave.InvokeAsync();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(BuildingId) && Model == null)
        {
            Title = "ADD NEW BUILDING";
            Model = new Building();
            Model.SiteId = SiteId;
        }
        else
        {
            Title = "Edit Building";
            if (Model == null)
            {
                await appViewModel.GetBuilding(BuildingId);
                Model = appViewModel.Building;
            }
        }
    }

}

