﻿@page "/AddFloor/{*BuildingId}"
@page "/EditFloor/{*FloorId}"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService

@if (!IsPopupMode)
{
    <div class="d-flex justify-content-center my-5">
        <h1>@Title</h1>
    </div>
}

<div class=@(IsPopupMode? "":"rz-card card")>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4">
            <AlertBlock />
            <ValidationSummary />
            <DataAnnotationsValidator />
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@Model.FloorName" class="form-control" placeholder="Floor Name" />
                    <label class="text-muted">Floor Name</label>
                </div>
            </div>
            <div class="my-2">
                <div class="form-floating">
                    <InputText @bind-Value="@Model.FloorDescription" class="form-control" placeholder="Floor Description" /> 
                    <label class="text-muted">Description</label>
                </div>
            </div>
            <div>
                <button class="btn btn-outline-primary pull-right mx-1">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    } Save
                </button>
                <NavLink @onclick="OnCancelClick" class="btn btn-outline-secondary pull-right">Cancel</NavLink>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public bool IsPopupMode { get; set; }

    [Parameter]
    public string FloorId { get; set; }

    [Parameter]
    public string BuildingId { get; set; }

    [Parameter]
    public Floor Model { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private string Title;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(FloorId) && Model == null)
        {
            Title = "ADD NEW FLOOR";
            Model = new Floor();
            Model.BuildingId = BuildingId;
        }
        else
        {
            Title = "Edit Building";
            if (Model == null)
            {
                await appViewModel.GetFloor(FloorId);
                Model = appViewModel.Floor;
            }
        }
    }

    public async Task OnCancelClick()
    {
        await OnCancel.InvokeAsync();
    }

    public async Task OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditFloor(Model);
            loading = false;
            await OnSave.InvokeAsync();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }


}

