﻿@page "/AddZone/{*FloorId}"
@page "/EditZone/{*ZoneId}"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService

@if (!IsPopupMode)
{
    <div class="d-flex justify-content-center my-5">
        <h1>@Title</h1>
    </div>
}


<div class=@(IsPopupMode? "":"rz-card card")>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4">
            <AlertBlock />
            <ValidationSummary />
            <DataAnnotationsValidator />

            <div class="my-2">
                <InputText @bind-Value="@Model.ZoneName" class="form-control" placeholder="Zone Name" />
            </div>
            <div class="my-2">
                <InputText @bind-Value="@Model.ZoneDescription" class="form-control" placeholder="Zone Description" />
            </div>
            <div>
                <button class="btn btn-outline-primary pull-right mx-1">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    } Save
                </button>
                <NavLink @onclick="OnCancelClick" class="btn btn-outline-secondary pull-right">Cancel</NavLink>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public bool IsPopupMode { get; set; }

    [Parameter]
    public string FloorId { get; set; }

    [Parameter]
    public string ZoneId { get; set; }

    [Parameter]
    public Zone Model { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private string Title;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(ZoneId) && Model == null)
        {
            Title = "ADD NEW ZONE";
            Model = new Zone();
            Model.FloorId = FloorId;
        }
        else
        {
            Title = "Edit Building";
            if (Model == null)
            {
                await appViewModel.GetZone(ZoneId);
                Model = appViewModel.Zone;
            }
        }
    }

    public async Task OnCancelClick()
    {
        await OnCancel.InvokeAsync();
    }

    public async Task OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditZone(Model);
            loading = false;
            await OnSave.InvokeAsync();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }


}

