﻿@page "/AddOrganization"
@page "/EditOrganization/{*OrganizationId}"
@inject IAlertService AlertService
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject NavigationManager NavigationManager

@if (!IsPopupMode)
{
<div class="d-flex justify-content-center my-5">
    <h1>@Title</h1>
</div>
}

<div class=@(IsPopupMode? "":"rz-card card")>
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4">
            <AlertBlock />
            <ValidationSummary />
            <DataAnnotationsValidator />
            <div class="my-2">
                <InputText @bind-Value="@Model.OrganizationName" class="form-control" placeholder="Organization Name" />
                <ValidationMessage For="@(() => Model.OrganizationName)" />
            </div>
            <div class="my-2">
                <InputText @bind-Value="@Model.Alias" class="form-control" placeholder="Alias Name" />
                <ValidationMessage For="@(() => Model.Alias)" />
            </div>
            <div class="my-2">
                <InputText @bind-Value="@Model.Description" class="form-control" placeholder="Description" />
                <ValidationMessage For="@(() => Model.Description)" />
            </div>
            <div class="my-2">
                <InputNumber @bind-Value="@Model.MaxDevicesCount" class="form-control" placeholder="Max Devices Count" />
                <ValidationMessage For="@(() => Model.MaxDevicesCount)" />
            </div>
            <div class="my-2">
                <InputNumber @bind-Value="@Model.MaxGatewaysCount" class="form-control" placeholder="Max Gateways Count" />
                <ValidationMessage For="@(() => Model.MaxGatewaysCount)" />
            </div>
            <div>
                <button class="btn btn-outline-primary pull-right mx-1">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Save
                </button>
                <NavLink @onclick="OnCancelClick" class="btn btn-outline-secondary pull-right">Cancel</NavLink>
            </div>
        </div>
    </EditForm>

</div>

@code {
    [Parameter]
    public bool IsPopupMode { get; set; }
    [Parameter]
    public string OrganizationId { get; set; }

    [Parameter]
    public Organization Model { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    private string Title;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(OrganizationId) && Model == null)
        {
            Model = new Organization();
            Title = "ADD NEW ORGANIZATION";
        }
        else if(Model == null)
        {
            await appViewModel.GetOrganization(OrganizationId);
            Model = appViewModel.Organization;
            Title = "EDIT " + Model.OrganizationName;
        }
    }

    public async Task OnCancelClick()
    {
        await OnCancel.InvokeAsync();
    }

    public async Task OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditOrganization(Model);
            loading = false;
            await OnSave.InvokeAsync();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

}
