﻿@page "/AddSite"
@page "/EditSite/{*SiteId}"
@attribute [Authorize]
@inject IAppViewModel appViewModel
@inject IAlertService AlertService

@if (!IsPopupMode)
{
<div class="d-flex justify-content-center my-5">
    <h1>@Title</h1>
</div>
}

<div class=@(IsPopupMode? "":"rz-card card")>
    
    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <div class="row d-flex mx-auto p-4">
            <AlertBlock />
            <ValidationSummary />
            <DataAnnotationsValidator />
            <div class="my-2">
                <InputText @bind-Value="@Model.SiteName" class="form-control" placeholder="Site Name" />
            </div>
            <div class="my-2">
                <InputText @bind-Value="@Model.SiteDescription" class="form-control" placeholder="Site Description" />
            </div>
            <div>
                <button class="btn btn-outline-primary pull-right mx-1">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    } Save
                </button>
                <NavLink @onclick="OnCancelClick" class="btn btn-outline-secondary pull-right">Cancel</NavLink>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public bool IsPopupMode { get; set; }

    [Parameter]
    public string SiteId { get; set; }

    [Parameter]
    public EventCallback OnSave { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public Site Model { get; set; }

    private string Title;
    private bool loading;

    public async Task OnCancelClick()
    {
        await OnCancel.InvokeAsync();
    }

    public async Task OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditSite(Model);
            loading = false;
            await OnSave.InvokeAsync();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(SiteId) && Model == null)
        {
            Title = "ADD NEW SITE";
            Model = new Site();
            Model.OrganizationId = appViewModel.AppModel.CurrentUser.OrganizationId;
        }
        else
        {
            Title = "Edit Site";
            if (Model == null)
            {
                await appViewModel.GetSite(SiteId);
                Model = appViewModel.Site;
            }
        }
    }

}
