﻿@page "/ViewAssets"
@using FloodSensorFrontend.Views.Setup
@attribute [Authorize]

@inject DialogService DialogService
@inject IAppViewModel appViewModel
@inject IAppModel AppModel
@inject NavigationManager MyNavigationManager
@inject ContextMenuService ContextMenuService

<div class="d-flex justify-content-center my-5">
    <h1>@Title</h1>
</div>


<div class="rz-card card">
    <div class="row">
        <div class="col">
            @if (AppModel.CurrentUser.IsGlobalAdmin)
            {
                <RadzenButton Click="() => OpenRegistrationForm()" ButtonStyle="ButtonStyle.Primary" Text="Register New Organization"></RadzenButton>
            }

            <p class="mb-3">Expand to view lower structures.</p>
            <RadzenTree Data=@Organizations Expand=@OnExpand Style="min-height: 300px">
                <RadzenTreeLevel TextProperty="OrganizationName">
                    <Template>
                        <i class="bi bi-bank"></i>&nbsp;
                        <RadzenLabel @onclick="() => OpenDetails(context.Value)"  ContextMenu=@(args => ShowContextMenu(args, context.Value)) Text="@context.Text"></RadzenLabel>
                    </Template>
                </RadzenTreeLevel>
            </RadzenTree>
        </div>
    </div>
</div>
@code {
    private List<Organization> Organizations { get; set; }
    private Site[] Sites { get; set; }
    private string Title = "Assets Tree";
    private int Index = 1;

    protected override async Task OnInitializedAsync()
    {
        await GetTree();
    }

    private async Task GetTree(){

        await appViewModel.GetOrganizations();
        Organizations = appViewModel.Organizations.ToList();
    }

    async Task OnExpand(TreeExpandEventArgs args)
    {
        if (args.Children.Data == null)
        {
            if (args.Value is Organization)
            {
                var org = args.Value as Organization;
                await appViewModel.GetSites(org.OrganizationId);
                var sites = appViewModel.Sites;
                args.Children.Data = sites;
                args.Children.TextProperty = "SiteName";
                args.Children.Template = (RadzenTreeItem context) => builder =>
                {
                    builder.AddMarkupContent(0, "<i class='bi bi-diagram-3'></i>&nbsp;");
                    builder.OpenComponent<RadzenLabel>(1);
                    builder.AddAttribute<MouseEventArgs>(2, "onclick", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => OpenDetails(context.Value)));
                    builder.AddAttribute<MouseEventArgs>(3, "ContextMenu", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => ShowContextMenu(args, context.Value)));
                    builder.AddAttribute(4, "Text", (context.Value as Site).SiteName);
                    builder.CloseComponent();
                };
            }
            else if (args.Value is Site)
            {
                var site = args.Value as Site;
                await appViewModel.GetBuildings(site.SiteId);
                var buildings = appViewModel.Buildings;
                args.Children.Data = buildings;
                args.Children.TextProperty = "BuildingName";
                args.Children.Template = (RadzenTreeItem context) => builder =>
                {
                    builder.AddMarkupContent(0, "<i class='bi bi-building'></i>&nbsp;");
                    builder.OpenComponent<RadzenLabel>(1);
                    builder.AddAttribute<MouseEventArgs>(0, "onclick", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => OpenDetails(context.Value)));
                    builder.AddAttribute<MouseEventArgs>(3, "ContextMenu", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => ShowContextMenu(args, context.Value)));
                    builder.AddAttribute(4, "Text", (context.Value as Building).BuildingName);
                    builder.CloseComponent();
                };
            }
            else if (args.Value is Building)
            {
                var building = args.Value as Building;
                await appViewModel.GetFloors(building.BuildingId);
                var floors = appViewModel.Floors;
                args.Children.Data = floors;
                args.Children.TextProperty = "FloorName";
                args.Children.Template = (RadzenTreeItem context) => builder =>
                {
                    builder.AddMarkupContent(0, "<i class='bi bi-layers'></i>&nbsp;");
                    builder.OpenComponent<RadzenLabel>(1);
                    builder.AddAttribute<MouseEventArgs>(2, "onclick", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => OpenDetails(context.Value)));
                    builder.AddAttribute<MouseEventArgs>(3, "ContextMenu", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => ShowContextMenu(args, context.Value)));
                    builder.AddAttribute(4, "Text", (context.Value as Floor).FloorName);
                    builder.CloseComponent();
                };
            }
            else if (args.Value is Floor)
            {
                var floor = args.Value as Floor;
                await appViewModel.GetZones(floor.FloorId);
                var zones = appViewModel.Zones;
                args.Children.Data = zones;
                args.Children.TextProperty = "ZoneName";
                args.Children.HasChildren = (child) => false;
                args.Children.Template = (RadzenTreeItem context) => builder =>
                {
                    builder.AddMarkupContent(0, "<i class='bi bi-location'></i>&nbsp;");
                    builder.OpenComponent<RadzenLabel>(1);
                    builder.AddAttribute<MouseEventArgs>(2, "onclick", EventCallback.Factory.Create<MouseEventArgs>(this, (args) => OpenDetails(context.Value)));
                    builder.AddAttribute(3, "Text", (context.Value as Zone).ZoneName);
                    builder.CloseComponent();
                };
            }
        }
    }

    private async void OpenRegistrationForm()
    {
        dynamic result = await DialogService.OpenAsync<Register>($"Register New Organization",
        new Dictionary<string, object>() { { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
        new DialogOptions() { Width = "500px", Height = "600px", Resizable = true, Draggable = true, });
    }

    private async void OpenDetails(object value)
    {
        if (value is Organization)
        {
            var org = value as Organization;
            dynamic result = await DialogService.OpenAsync<AddEditOrganization>($"Edit {org.OrganizationName}",
            new Dictionary<string, object>() { { "Model", org }, { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
            new DialogOptions() { Width = "500px", Height = "500px", Resizable = true, Draggable = true, });
        }
        else if (value is Site)
        {
            var site = value as Site;
            var title = string.IsNullOrEmpty(site.SiteId) ? "Add New Site" : $"Edit {site.SiteName}";
            dynamic result = await DialogService.OpenAsync<AddEditSite>(title,
            new Dictionary<string, object>() { { "Model", site }, { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
            new DialogOptions() { Width = "500px", Height = "500px", Resizable = true, Draggable = true, });
        }
        else if (value is Building)
        {
            var building = value as Building;
            var title = string.IsNullOrEmpty(building.BuildingId) ? "Add New Building" : $"Edit {building.BuildingName}";
            dynamic result = await DialogService.OpenAsync<AddEditBuilding>(title,
            new Dictionary<string, object>() { { "Model", building }, { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
            new DialogOptions() { Width = "500px", Height = "500px", Resizable = true, Draggable = true, });
        }
        else if (value is Floor)
        {
            var floor = value as Floor;
            var title = string.IsNullOrEmpty(floor.FloorId) ? "Add New Floor" : $"Edit Floor {floor.FloorName}";
            dynamic result = await DialogService.OpenAsync<AddEditFloor>(title,
            new Dictionary<string, object>() { { "Model", floor }, { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
            new DialogOptions() { Width = "500px", Height = "500px", Resizable = true, Draggable = true, });
        }
        else if (value is Zone)
        {
            var zone = value as Zone;
            var title = string.IsNullOrEmpty(zone.ZoneId) ? "Add New Zone" : $"Edit {zone.ZoneName}";
            dynamic result = await DialogService.OpenAsync<AddEditZone>(title,
            new Dictionary<string, object>() { { "Model", zone }, { "OnSave", CloseDialogHandler }, { "OnCancel", CloseDialogHandler }, { "IsPopupMode", true } },
            new DialogOptions() { Width = "500px", Height = "500px", Resizable = true, Draggable = true, });
        }
    }
    private EventCallback CloseDialogHandler => new(this, (Action)(() => { DialogService.Close(); }));

    private EventCallback RefreshHandler => new(this, (Action)(() => { DialogService.Close(); GetTree(); }));

    void ShowContextMenu(MouseEventArgs args, object context)
    {
        string title = "Add ";
        if (context is Organization)
            title += "Site";
        else if (context is Site)
            title += "Building";
        else if (context is Building)
            title += "Floor";
        else if (context is Floor)
            title += "Zone";
        else
            return;
        ContextMenuService.Open(args,
        new List<ContextMenuItem> {
                new ContextMenuItem(){ Text = title, Value = context }
         }, OnMenuItemClick);
    }

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        var value = args.Value;
        ContextMenuService.Close();
        if (value is Organization)
        {
            var newObject = new Site();
            newObject.OrganizationId = (value as Organization).OrganizationId;
            OpenDetails(newObject);
        }
        else if(value is Site)
        {
            var newObject = new Building();
            newObject.SiteId = (value as Site).SiteId;
            OpenDetails(newObject);
        }
        else if (value is Building)
        {
            var newObject = new Floor();
            newObject.BuildingId = (value as Building).BuildingId;
            OpenDetails(newObject);
        }
        else if (value is Floor)
        {
            var newObject = new Zone();
            newObject.FloorId = (value as Floor).FloorId;
            OpenDetails(newObject);
        }

    }

}