﻿@page "/AddSensor"
@page "/EditSensor/{*SensorId}"
@attribute [Authorize]
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject IAppViewModel appViewModel
@inject IJSRuntime JSRuntime
@using System.Linq;
<style>
    .rz-dropdown {
        width: 100%;
    }

    .rz-popup {
        border: 0;
    }

    .row .rowspan > * {
        margin-top: var(--bs-gutter-y);
    }
</style>
<div class="d-flex justify-content-center my-5">
    <h1>ADD NEW SENSOR</h1>
</div>

<div class="rz-card card m-auto col-9">
    <EditForm Model="@SensorModel" OnValidSubmit="OnValidSubmit">
        <div class="row gx-5 gy-3 p-2">
            <AlertBlock />
            <DataAnnotationsValidator />
            <div class="col-12">
                <div class="row row-cols-2">
                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.SensorTypeId" class="form-select">
                                @if(sensorTypes !=null)
                                foreach (var type in sensorTypes)
                                {
                                    <option value="@type.SensorTypeId">@type.SensorTypeName</option>
                                }
                            </InputSelect>
                            <label for="sensorType" class="text-muted">Sensor Type</label>
                            <ValidationMessage For="@(() => SensorModel.SensorTypeId)" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.SiteId" class="form-control" placeholder="Site" @onchange="OnSiteChange">
                                @if(sites != null)
                                foreach (var site in sites)
                                {
                                    <option value="@site.SiteId">@site.SiteName</option>
                                }
                            </InputSelect>
                            <label class="text-muted">Site</label>
                        </div>
                    </div>
                </div>

                <div class="row row-cols-2">
                    <div class="my-3">
                        <div class="form-floating">
                            <InputText @bind-Value="@SensorModel.Name" class="form-control" placeholder="Sensor Name" />
                            <label class="text-muted">Sensor Name</label>
                            <ValidationMessage For="@(() => SensorModel.Name)" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.ApplicationId" class="form-control" placeholder="Application">
                                @if (applications != null)
                                    foreach (var app in applications)
                                    {
                                        <option value="@app.ApplicationId">@app.ApplicationName</option>
                                    }
                            </InputSelect>
                            <label class="text-muted">Application</label>
                            <ValidationMessage For="@(() => SensorModel.ApplicationId)" />
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="my-3">
                        <div class="form-floating">
                            <InputText @bind-Value="@SensorModel.SerialNumber" class="form-control" placeholder="Serial Number" />
                            <label class="text-muted">Serial Number</label>
                            <ValidationMessage For="@(() => SensorModel.SerialNumber)" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.BuildingId" class="form-control" placeholder="Building" @onchange="OnBuildingChange">
                                @if (buildings != null)
                                    foreach (var building in buildings)
                                    {
                                        <option value="@building.BuildingId">@building.BuildingName</option>
                                    }
                            </InputSelect>
                            <label class="text-muted">Building</label>
                            <ValidationMessage For="@(() => SensorModel.BuildingId)" />
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2">
                    <div class="my-3">
                        <div class="form-floating">
                            <select class="form-select" id="validationTags" multiple data-allow-new="true" data-allow-clear="true"
                                    placeholder="TAG (Insert your specialized tag name)">
                                @if (tags != null)
                                    foreach (var tag in tags)
                                    {
                                        <option value="@tag.TagId">@tag.TagName</option>
                                    }
                            </select>
                            <label class="text-muted">Tags</label>
                        </div>
                    </div>

                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.FloorId" class="form-control" placeholder="Floor" @onchange="OnFloorChange">
                                @if (floors != null)
                                    foreach (var floor in floors)
                                    {
                                        <option value="@floor.FloorId">@floor.FloorName</option>
                                    }
                            </InputSelect>
                            <label class="text-muted">Floor</label>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2">

                    <div class="my-3">
                        <div class="form-floating">
                            <InputText @bind-Value="@SensorModel.Devui" class="form-control" placeholder="Devui" />
                            <label class="text-muted">Devui</label>
                            <ValidationMessage For="@(() => SensorModel.Devui)" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <InputSelect @bind-Value="@SensorModel.ZoneId" class="form-control" placeholder="Zone">
                                @if (zones != null)
                                    foreach (var zone in zones)
                                    {
                                        <option value="@zone.ZoneId">@zone.ZoneName</option>
                                    }
                            </InputSelect>
                            <label class="text-muted">Zone</label>
                            <ValidationMessage For="@(() => SensorModel.ZoneId)" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="form-floating">
                            <InputText @bind-Value="@SensorModel.Description" name="sensorDescription" class="form-control" placeholder="Description" />
                            <label for="sensorDescription" class="text-muted">Description</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                @if (SensorModel.Settings.Count > 0)
                {
                    <p class="h5">Sensor Settings</p>
                }
                @for (int i = 0; i < SensorModel.Settings.Count; i = i + 2)
                {
                    SensorSettingsItem item = SensorModel.Settings[i];
                    <div class="row row-cols-2">
                        <SensorSettingTemplate @bind-Model="item" />
                        @if (i + 1 < SensorModel.Settings.Count)
                        {
                            var anotherItem = SensorModel.Settings[i + 1];
                            <SensorSettingTemplate @bind-Model="anotherItem" />
                        }
                    </div>
                }
            </div>
        </div>
        <div class="d-flex gx-5 gy-3 p-4 pull-right">
            <a href="@backUrl" class="btn btn-outline-secondary m-1">Cancel</a>
            <button disabled="@loading" class="btn btn-outline-primary m-1">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Complete Installment
            </button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public string SensorId { get; set; }

    private bool loading;
    private IJSObjectReference module;

    private Sensor SensorModel;
    private IEnumerable<SensorType> sensorTypes = null;
    private IEnumerable<Tag> tags = null;
    private IEnumerable<Site> sites = null;
    private IEnumerable<Application> applications;
    private IEnumerable<Building> buildings;
    private IEnumerable<Floor> floors;
    private IEnumerable<Zone> zones;
    public string backUrl;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(SensorId))
        {
            await appViewModel.GetSensor(SensorId);
            SensorModel = appViewModel.Sensor;
        }
        else
        {
            SensorModel = new Sensor();
        }
        await appViewModel.GetSensorTypes();
        sensorTypes = appViewModel.SensorTypes;
        await appViewModel.GetTags();
        tags = appViewModel.SensorTags;
        await appViewModel.GetSites(appViewModel.AppModel.CurrentUser.OrganizationId);
        sites = appViewModel.Sites;
        backUrl = "/Sensors/" + SensorModel.SensorTypeId;
        //module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/tags.js");
        //await module.InvokeVoidAsync("InitTags");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (sites != null && sites.Count() > 0)
            {
                if(string.IsNullOrEmpty(SensorModel.SiteId))
                    SensorModel.SiteId = sites.First().SiteId;
                var args = new ChangeEventArgs() { Value = SensorModel.SiteId };
                OnSiteChange(args);
            }
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    async void OnSiteChange(ChangeEventArgs e)
    {
        var newSite = e.Value.ToString();
        await appViewModel.GetApplications(newSite);
        applications = appViewModel.Applications;
        await appViewModel.GetBuildings(newSite);
        buildings = appViewModel.Buildings;
        if (buildings.Count() > 0)
        {
            if (string.IsNullOrEmpty(SensorModel.BuildingId))
                SensorModel.BuildingId = buildings.First().BuildingId;
            var args = new ChangeEventArgs() { Value = SensorModel.BuildingId };
            OnBuildingChange(args);
        }
    }

    async void OnBuildingChange(ChangeEventArgs e)
    {
        var newBuilding = e.Value.ToString();
        await appViewModel.GetFloors(newBuilding);
        floors = appViewModel.Floors;
        if (floors.Count() > 0)
        {
            if (string.IsNullOrEmpty(SensorModel.FloorId))
                SensorModel.FloorId = floors.First().FloorId;
            var args = new ChangeEventArgs() { Value = SensorModel.FloorId };
            OnFloorChange(args);
        }
    }

    async void OnFloorChange(ChangeEventArgs e)
    {
        var newFloor = e.Value.ToString();
        await appViewModel.GetZones(newFloor);
        zones = appViewModel.Zones;
    }

    private async void OnValidSubmit()
    {
        AlertService.Clear();

        loading = true;
        try
        {
            await appViewModel.AddEditSensor(SensorModel);
            loading = false;
            NavigationManager.NavigateTo(backUrl);
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            loading = false;
            StateHasChanged();
        }
    }

}
