﻿@page "/SensorsMap"
@attribute [Authorize]
@inject IAppViewModel  appViewModel
<div class="d-flex justify-content-center my-5">
    <h1>SENSORS MAP</h1>
</div>

<div class="rz-card card">
    <div class="d-flex">
        <EditForm Model="@Model">
            <InputSelect Value="@Model.Building" ValueExpression="@(()=>Model.Building)" TValue="Building" class="form-select" ValueChanged="@((Building value) => OnValueChanged(value))">
                @*<option value=""></option>*@
                @foreach (var building in Buildings)
                {
                    <option value="@building">@building.BuildingName</option>
                }
            </InputSelect>
            <RadzenDropDown @bind-Value="@Model.Floor" TValue="int" Data="@Floors">
            </RadzenDropDown>
            <InputSelect @bind-Value="@Model.Floor" TValue="int" class="form-select">
                @foreach (var floor in Floors)
                {
                    <option value="@floor">@floor</option>
                }
            </InputSelect>

        </EditForm>
    </div>
    <img src="/images/Image_2.png" />
</div>



@code {
    SensorMapModel Model;
    Building[] Buildings;
    int[] Floors { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await appViewModel.GetSites(appViewModel.AppModel.CurrentUser.OrganizationId);
        var sites = appViewModel.Sites;
        if (sites != null && sites.Length > 0)
        {
            await appViewModel.GetBuildings(sites[0].SiteId);
            Model = new SensorMapModel();
            Buildings = appViewModel.Buildings;
            Floors = new int[] { };
        }
    }

    private Task OnValueChanged(Building value)
    {
        // Assign the selected value to the Model
        Model.Building = value;
        List<int> floorsList = new List<int>();
        for (int i = value.FirstFloorNumber; i < (value.FirstFloorNumber + value.NumberOfFloors); i++)
        {
            floorsList.Add(i);
        }
        Floors = floorsList.ToArray();
        return Task.CompletedTask;
    }
}
