﻿@page "/Sensors/{*SensorType}"
@attribute [Authorize]
@inject IAppViewModel  appViewModel
<style>
    .row .col > div:first-child {
        font-weight: bold;
        margin-bottom: 8px;
    }

    .col-1 .rz-profile-menu {
        padding: 0 !important;
    }

    .rz-navigation-item-icon-children {
        display: none !important;
    }

    ul.rz-profile-menu {
        z-index: auto !important;
    }

    ul.rz-navigation-menu {
        z-index: 1;
    }

    .rz-navigation-item-link {
        text-decoration-line: none !important;
    }

    #power .rz-navigation-item-link, #power .rz-navigation-item-text {
        color: rgba(0,186,125,1) !important;
    }

    #shutdown .rz-navigation-item-link, #shutdown .rz-navigation-item-text {
        color: rgba(254,56,64,1) !important;
    }
</style>
<div class="d-flex justify-content-center my-5">
    <h1>WATER FLOOD SENSORS</h1>
    <div class="mx-3"><a href="/AddSensor"><div class="name-rounded m-2"><i class="fa fa-plus" aria-hidden="true"></i></div></a></div>
</div>
@if (appViewModel.Sensors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex justify-content-end">
        <div class="w-25 px2">
            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="text" placeholder="Search or filter" @oninput="@(ui => {searchTerm = (string) ui.Value;OnSearch();})" id="search-input"></input>
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n5" type="button" @onclick="() => OnSearch()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div>
        <RadzenDataList WrapItems="false" AllowPaging="false" Data="@filteredList" TItem="SensorDataModel">
            <Template Context="sensor">
                <RadzenCard>
                    <div class="row row-cols-8">
                        <div class="col text-center">
                            <div class="name-rounded" style="margin-bottom: 0; margin-top: 10px;">@sensor.Name</div>
                            <div style="padding:3px 10px"><i>@string.Format("REF {0}", sensor.SensorId)</i></div>
                        </div>
                        <div class="col text-center">
                            <div>Floor</div>
                            <div class="name-small-rounded">@sensor.FloorName</div>
                        </div>
                        <div class="col text-center">
                            <div>Zone</div>
                            <div class="name-small-rounded">@sensor.ZoneName</div>
                        </div>
                        <div class="col text-center">
                            <div>Signal Strength</div>
                            <div>
                                <ul id="signal-strength" class="@("signal" + sensor.SignalStrength)">
                                    @for (int i = 1; i < sensor.SignalStrength && i <= 4; i++)
                                    {
                                        <li class="@("strength" + i)"><div></div></li>
                                    }
                                    @for (int i = sensor.SignalStrength; i <= 4; i++)
                                    {
                                        <li class="strength0"><div></div></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div>Device Status</div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="togBtn" disabled="disabled" @bind="sensor.DeviceStatus">
                                    <div class="slider round">
                                        <span class="on">Online</span>
                                        <span class="off">Offline</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div>Battery</div>
                            <div class="name-small-rounded @("signal" + (Math.Round((decimal)sensor.BatteryPercent/25)))">@sensor.BatteryPercent %</div>
                        </div>
                        <div class="col text-center">
                            <div>Alert Signal</div>
                            <div class="name-small-rounded">@sensor.SignalStrength</div>
                        </div>
                        <div class="col-1" style="width:auto;padding:0">
                            <RadzenProfileMenu>
                                <Template>
                                    <span class="three-dots">&#xFE19;</span>
                                </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Text="Snooze" Path="buttons" Icon="snooze"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Hibernate" Path="menu" Icon="line_weight"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Reboot" Path="fileinput" Icon="restart_alt"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Power on" Path="dialog" Icon="power_settings_new" id="power"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Restart" Path="notification" Icon="restart_alt"></RadzenProfileMenuItem>
                                    <RadzenProfileMenuItem Text="Shut down" Path="notification" Icon="power_settings_new" id="shutdown"></RadzenProfileMenuItem>
                                </ChildContent>
                            </RadzenProfileMenu>
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </div>
}
@code {
    [Parameter]
    public string SensorType { get; set; }
    IEnumerable<SensorDataModel> sensors;
    IEnumerable<SensorDataModel> filteredList;
    string searchTerm;
    protected override async Task OnInitializedAsync()
    {
        await appViewModel.GetSensors(SensorType);
        filteredList = sensors = appViewModel.Sensors;
    }

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        Console.WriteLine($"Menu item with Value={args.Value} clicked");
    }
    
    private void OnSearch()
    {
        var toSearch = searchTerm.Trim().ToLower();
        if (toSearch.Equals(""))
            filteredList = sensors;
        else
            filteredList = sensors.Where(u => u.Name.ToLower().Contains(toSearch) || u.Description.ToLower().Contains(toSearch));
    }
}
